@page "/pianosheets/edit"
@using Microsoft.EntityFrameworkCore
@using MudBlazor
@using MyPianoList.Application.Interfaces
@using MyPianoList.Infrastructure
@using Microsoft.AspNetCore.Components.QuickGrid
@using MyPianoList.Domain

@rendermode InteractiveServer

@inject ITagService TagService
@inject IPianoSheetTagService PianoSheetTagService
@inject IPianoSheetService PianoSheetService
@inject NavigationManager NavigationManager

<MudThemeProvider />
<MudPopoverProvider />

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>PianoSheet</h2>
<hr />
@if (PianoSheet is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="PianoSheet" OnValidSubmit="UpdatePianoSheet" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="PianoSheet.Id" value="@PianoSheet.Id" />
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <InputText id="title" @bind-Value="PianoSheet.Title" class="form-control" />
                    <ValidationMessage For="() => PianoSheet.Title" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="composer" class="form-label">Composer:</label>
                    <InputText id="composer" @bind-Value="PianoSheet.Composer" class="form-control" />
                    <ValidationMessage For="() => PianoSheet.Composer" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="composer" class="form-label">URL (musescore or imslp):</label>
                    <InputText id="composer" @bind-Value="PianoSheet.Url" class="form-control" />
                    <ValidationMessage For="() => PianoSheet.Url" class="text-danger" />
                </div>

                <MudSelect T="int" Label="Tags" MultiSelection="true" @bind-SelectedValues="SelectedTagIds">
                    @foreach (var tag in Tags)
                    {
                        <MudSelectItem T="int" Value="@tag.Id">@tag.TagName</MudSelectItem>
                    }
                </MudSelect>

                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/pianosheets">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private PianoSheet? PianoSheet { get; set; }

    private List<Tag> Tags { get; set; } = new List<Tag>();
    private IEnumerable<int> SelectedTagIds { get; set; } = new HashSet<int>() {};

    protected override async Task OnInitializedAsync()
    {
        PianoSheet ??= await PianoSheetService.GetByIdWithTagsAsync(Id);

        if (PianoSheet is null)
        {
            NavigationManager.NavigateTo("notfound");
        }

        SelectedTagIds = PianoSheet?.PianoSheetTags.Select(t => t.Id).ToList() ?? new List<int>();
        Tags = TagService.GetAll().ToList();
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdatePianoSheet()
    {    
        try
        {
            if (PianoSheet != null)
            {
                await PianoSheetTagService.SetPianoSheetTags(Id, SelectedTagIds);
                await PianoSheetService.UpdateAsync(Id, PianoSheet);
            }
        }
        catch (Exception)
        {
            NavigationManager.NavigateTo("notfound");
        }

        NavigationManager.NavigateTo("/pianosheets");
    }
}
