@page "/pianosheets"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid 
@using MyPianoList.Application.Interfaces
@using MyPianoList.Domain
@using MyPianoList.Infrastructure

@inject IPianoSheetService PianoSheetService
@attribute [Authorize]

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="pianosheets/create">Create New</a>
</p>

<QuickGrid Class="table" Items="pianoSheets">
    <PropertyColumn Property="pianosheet => pianosheet.Title" />
    <PropertyColumn Property="pianosheet => pianosheet.Composer" />
    <PropertyColumn Property="pianosheet => pianosheet.Url" />

    <TemplateColumn Context="pianosheet">
        <a href="@($"pianosheets/edit?id={pianosheet.Id}")">Edit</a> |
        <a href="@($"pianosheets/details?id={pianosheet.Id}")">Details</a> |
        <a href="@($"pianosheets/delete?id={pianosheet.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    IQueryable<PianoSheet>? pianoSheets = null;

    protected override void OnInitialized()
    {
        pianoSheets = PianoSheetService.GetAll().AsQueryable();
    }
}
